body {
  background-color: #00695C;
  padding-top: 15%;
  color: white;
  text-align: center;
  font-size: 18px;
}

.portfolio-item {
  background-color: #ffc107;
  margin: 10px;
  color: #00695C;
  width: 150px;
  height: 150px;
  border-radius: 100px;
}
